/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-datepicker";
 @import 'https://fonts.googleapis.com/css?family=Lato';

 body {
   font-family: 'Lato', sans-serif;
 }

 .navbar {
   height: 90px;
 }

 .navbar-right {
   margin-right: 0px;
 }

 .navbar-right a {
  font-size: 18px;
 }

 .form-group input {
   width: 500px;
 }

 #mapDiv {
   text-align: center;
 }

 #map {
   width: 80%;
   height: 400px;
   margin: auto;
 }

.tableDiv {
  margin-bottom: 15px;
}

table thead {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
}

div.tableContainer {
	clear: both;
	height: 285px;
	overflow: auto;
	width: 80%;
  margin: auto;
}

html>body div.tableContainer {
	overflow: hidden;
	width: 80%;
}

html>body div.tableContainer {
	overflow: hidden;
	width: 80%;
}

html>body thead.fixedHeader {
	display: table;
	overflow: auto;
	width: 100%;
}

thead.fixedHeader tr {
	position: relative;
}

thead.fixedHeader th {
  padding: 4px 3px;
	text-align: left
}

thead.fixedHeader th.sortable {
	cursor:pointer;
}

html>body tbody.scrollContent {
	display: block;
	height: 262px;
	overflow: auto;
	width: 100%;
}

html>body tbody.scrollContent tr {
	width: 100%;
}

tbody .scrollContent td {
  padding: 2px 3px 3px 4px
}

.review_name {
  cursor: pointer;
}

.delete_review {
  color: red;
}

.newReviewDiv {
  width: 90%;
}

.new_review_btn,
.logout_btn {
  float: right;
  padding-bottom: 10px;
}

.deviseFormDiv {
  text-align: center;
}

.deviseFormDiv .field {
  margin-bottom: 10px;
}

.deviseFormDiv .field input[type="password"],
.deviseFormDiv .field input[type="email"]  {
  width: 300px;
}
